body{
    background-color: white;
}
.yarim{
    color: white;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}
.yarim1{
    color: white;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}
.yarim2{
    color: white;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}
.yarim3{
    color: white;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}
.yarim4{
    color: white;
    border: 2px solid #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: midnightblue;
    border-radius: 10px;
}